{% extends 'back/base.html.twig' %}
{% block contents%}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>categories</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">admin</a></li>
                <li class="breadcrumb-item">categories</li>
                <li class="breadcrumb-item active">list</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Categories</h5>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    <b>N</b>ame
                                </th>
                                <th>short_desc</th>
                                <th>parent</th>
                                      </tr>
                            <th>update</th>
                            </tr>
                            <th>delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for c in categories %}
                            <tr>
                                <td>{{ c.id }}</td>
                                <td>{{ c.name }}</td>
                                <td>{{ c.shortDescription }}</td>
                                <td>{% if c.parent %} {{ c.parent.name}} {% else  %} without parent {% endif %}</td>
                                <td>
                                    <a class="btn btn-success" href="{{ path('app_admin_categories_update',{id:c.id}) }}"><i class="fas fa-edit"></i></a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" href="{{ path('app_admin_categories_delete',{id:c.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i> </a>
                                </td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
{% endblock %}
