{% extends 'base.html.twig' %}

{% block title %}Product Index{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Product Index</h1>

        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Picture</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>
                            {% if product.picture %}
                                <img src="{{ product.picture }}" alt="Product Image" class="img-fluid">
                            {% else %}
                                No Picture
                            {% endif %}
                        </td>
                        <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ product.quantity }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
